* body {
  background-color: #0B0C1A;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Intro START =================== */

.introduction-section {
  margin: auto;
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.introduction-section-back {
  padding-top: 50px;
  padding-bottom: 40px;
  background: linear-gradient(135deg, #10122e, #191a41, #0e2c68); 
}

.inglês-text {
  color: rgb(202, 0, 0);
}

.image1 {
  max-width: 500px;
  border-radius: 2%;
}


.parag-description {
  width: 500px;
  padding:10px;
}

.parag-description h1 {
  font-size: 40px;
}

.parag-description p {
  font-size: 16px;
  line-height: 25px;
}

.cta-button {
  width: 450px;
  background-color: rgb(202, 0, 0);
  padding: 10px;
  text-decoration: none;
  color: white;
  border-radius: 6px;
  transition: all 0.3s;
  font-weight: bold;
}

.cta-button:hover {
  background-color: rgb(129, 0, 0);
}

.cta-button-anchor {
  text-decoration: none;
  text-align: center;
}
/* Intro END =================== */

/* Personal START =================== */

.personal-section {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1100px;
  padding-top: 50px;
  padding-bottom: 40px;
  justify-content: space-between;
}
.personal-section h1 {
  color: rgb(82, 142, 255);
  margin-left: 20px;
}

.benefits-image {
  width: 400px;
  border-radius: 5px;
}

.personal-list {
  line-height: 40px;
  font-size: 17px;
  list-style: none;
  text-align: left;
}

.personal-list li{
  margin-left: -18px;
}

.personal-list span{
  font-size: 15px;
  margin-right: 5px;
}

.benefits-list {
  margin-top: -25px;
}

/* Personal END =================== */

/* Cards START =================== */
.main-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  max-width: 1100px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.card {
  width: 300px;
  height: 550px;
  align-items: center;
  text-align: center;
  background: #0B0C1A;
  border-radius: 10px;
  margin: 10px;
}

.card p {
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  line-height: 22px;
}

.card h1 {
  font-size: 28px;
  color: rgb(82, 142, 255);
  text-align: left;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 5px;
  margin-bottom: -10px;
}

.card img {
  height: 40%;
  max-width: 100%;
  width: fit-content;
}

.borderimg {
  border-radius: 10px 10px 0px 0px;
}

.cards-section {
  background: linear-gradient(#191a41, #10122e);
  padding-bottom: 5px;
  padding-top: 5px;
}

/* Intro END =================== */

/* Footer START =================== */

.footer-section {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1100px;
  margin-bottom: 30px;
  margin-top: 50px;
  justify-content: space-between;
}

.footer-section img {
  width: 250px;
  border-radius: 10px;
}

.profile-description {
  line-height: 30px;
  font-size: 16px;
  margin-left: 50px;
  width:800px;
}

.profile-description h1 {
  color: rgb(82, 142, 255);
  margin-top:2px;
}

.bottom-footer {
  background-color: #10122e;
  align-items: center;
  text-align: center;
  display: flex;
  height: 80px;
  justify-content: center;
  color:white;
}


/* Footer END =================== */


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


/* If the screen size is 600px wide or less, hide the element */
@media only screen and (max-width: 600px) {




}