* body{
background-color: #001138;
color:white;
margin: 0;
padding:0;
box-sizing: border-box;

}

.introduction-section{
    margin: auto;
    max-width:60%;
    display:flex;
    align-items: center;
    justify-content: space-between;
} 

.introduction-section-back{
    padding-top:50px;
    padding-bottom:40px;

background: linear-gradient(135deg, #000f33, #001b65, #002a9e);

}

.inglês-text{
    color:red;
}

.image1{
    width:500px;
    border-radius: 2%;
}

.parag-description{
    width:500px;
}
.parag-description h1{
    font-size:45px;
}
.parag-description p{
    font-size:18px;
}
.cta-button{
    width: 500px;
    background-color: red;
    padding:10px;
    text-decoration: none;
    color:white;
    border-radius: 6px;
    transition: all 0.3s;
    font-weight: bold;
}
.cta-button:hover{
    background-color: rgb(250, 64, 64);
}
.cta-button-anchor{
    text-decoration: none;
    text-align: center;
}

.footer-section{
    display:flex;
    align-items: center;
}


.main-cards{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:auto;
}

.card{
    width:280px;
}